@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#A3C9D9,#6A9BA6);
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #092a38;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
     color: #012326;
     text-align: center;
     text-shadow: 1px 1px 2px #34c4d1;
}

h2{
    color: #27666d;
}

p{
    text-align: justify;
}