@charset "UTF-8";

/* Todas as versões */

/* Typical devices Breakpoints 
------------------------------
pequenas telas: até 600px
celulares: de 600px até 768px
tablet: de 768px até 992px
desktops: de 992px até 1400px
grandes desktops: acima de 1400px
*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
      background-image: url(../img/back-print.jpg);
      font-family: 'Courier New', Courier, monospace;
    }

    main{
        border: 2px solid black;
    }

    main h1 {
      text-shadow: none;
      color: black;
    }
img#phone{display: none;}
img#tablet{display: none;}
img#print{display: block;}
img#pc{display: none;}
img#tv{display: none;}

}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: url(../img/back-tablet.jpg);
    }
img#phone{display: none;}
img#tablet{display: block;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1400px){
    body{
        background-image: url(../img/back-pc.jpg);
    }
img#phone{display: none;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: block;}
img#tv{display: none;}
}

@media screen and (min-width: 1200px){
    body{
        background-image: url(../img/back-tv.jpg);
    }
img#phone{display: none;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: block;}
}