body{
    background-image : linear-gradient(to bottom,#2B3033);
    color: #54F2F2;
}

h1{
    text-align: center;
}

.meio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    gap: 20px;
    margin: auto;
    width: 100%;
}