@charset "UTF-8";
/*
    Em HMTL é id = em CSS é # (só pode um elemento)
    Em HTML é class = em CSS é . (pode varios elementos)
*/
body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2{
    color: rgb(51, 77, 49);
}

.basico{
    color: #3c805e;
}

.intermediario{
    color: #80793c;
}

.avancado{
    color: #803c3c;
}