@charset "UTF-8";

@media screen and (max-width:600px) {
    header{
        flex-flow: column nowrap;
    }

    header h1{
        text-align: center;
    }

    nav ul{
        display: none;
        padding: 0px;
    }

    nav li{
        width: 95vw;
        text-align: center;
    }

    i#burguer{
        display: block;
        cursor: pointer;
        margin: 10px;
        text-align: center;
        color: white;
    }
}